@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:400,500");
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "IBM Plex Sans Condensed", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-image: url("ceystalhorizon.png");
  background-repeat: no-repeat;
  background-color: rgb(8, 10, 52);
}

h1,
h2,
h5,
select {
  margin: 0.8rem 0em 0.5em 0em;
}

h1 {
  margin-left: 1.2rem;
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.1em;
  font-weight: lighter;
}
